RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.jeremycauchois.fr/$1 [R,L]



