.inscription{
    margin-top: 70px;
    max-width: 80%;
    margin:0 auto;
}

.inscription input{
    background-size: 40px;
    background-position: 10px;
    width: 100%;
    resize: none;
    padding:15px 0;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #ccc;
    text-align: center;

}

.btn {
    background-color: #73b5ca;
    border:none;
    margin: 25px 0;
    padding: 15px 25px;
    border-radius: 50px;
    color:white;
}

.btn:hover{
    color:black;
    cursor: pointer;
}
.hoverforget a:hover{
color:black;
}
.hoverforget a{
color:#73b5ca;
}
.checkbox input{
    display:box;
}


#historique{
    margin-top:30px;
    
}
#historique .far{
    font-size: 65px;
}
#tableau{
    background-color:#73b5ca;
    width: 100%;
    max-width: 80%;
    margin: 20px auto;
    -moz-box-shadow: 0px 10px 5px 0px #656565;
    -webkit-box-shadow: 0px 10px 5px 0px #656565;
    -o-box-shadow: 0px 10px 5px 0px #656565;
    box-shadow: 0px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
    font-family: 'Comfortaa', cursive;
    
    
}

thead{
    color:white;
    letter-spacing: 2px;
    font-weight: 800;  
}


tbody{
    /* letter-spacing: 2px; */
    color:grey; 
}
tbody tr :nth-child(1){
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

tbody tr :not(:first-child){
    color: white;
}

td{
    vertical-align: middle
}

table{

    border-radius: 20px;
}



@media screen and (max-width: 767px) {

    
    .inscription{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .inscription{
        font-size:20px;
        margin-top:20px;
    }
    .reservation{
        font-size:20px;
    }

    label{
        font-size:15px;
        letter-spacing: 0px;
    }



}

